* {
  box-sizing: border-box;
  margin: 0;
}
/*Add BG image*/
body {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.index-body {
  width: 100%;
  height: 100%;
  background-image: url("assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.carnival-body {
  color: white;
  width: 100%;
  height: 100%;
  background-image: url("../images/carnival-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cemetery-body {
    color: white;
    width: 100%;
    height: 100%;
    background-image: url("assets/images/cemetery-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: griffy;
}

.intro-text {
  font-size: larger;
  font-weight: 400;
  font-family: Special Elite, sans-serif;
}

.intro-section {
  background-image: url("assets/images/parchment.png");
  background-size: cover;
}

#blurb {
    background-color: #6337189e;
}

.img-card {
  width: 30vh;
  height: auto;
  /* height: 30vh; */
}

.img-thumbnail {
  display: flex;
  flex-grow: 1;
}

/* Style the game board */
#game-board {
  background: 5px #350404;
  text-align: center;
  padding: 20px;
  font-family: "Arial", sans-serif;
  width: 80%;
  margin-left: 10%;
}

.user-pick {
    background-color: #34010061;
}

/* Style input prompts */
input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style the prompt for user input */
.prompt {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "Arial", sans-serif;
}

/* Style the table */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #000;
  padding: 5px;
  text-align: center;
}

/* Style the action cells */
td.Action {
  cursor: pointer;
  background-color: #fff;
}

td.Action.Red {
  background-color: red;
}

td.Action.Green {
  background-color: green;
}

